<!-- Add modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/admin/users/create" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel" data-i18n="add__link">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="iin" class="form-label" data-i18n="iin__link">IIN</label>
                        <input type="text" class="form-control" id="iin" name="iin" inputmode="numeric" pattern="^(?=.*[0-9])\d{12}$" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label" data-i18n="name__link">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="surname" class="form-label" data-i18n="surname__link">Surname</label>
                        <input type="text" class="form-control" id="surname" name="surname" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label" data-i18n="lastname__link">Lastname</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" required>
                    </div>
                    <div class="mb-3">
                        <label for="region" class="form-label" data-i18n="region__link">Region</label>
                        <%if(login==="true"){%>
                        
                            <select class="form-control" id="region" name="region" required>
                                <option value="Семей">Семей</option>
                                <option value="Аксуат">Аксуат</option>
                                <option value="Аягоз">Аягоз</option>
                                <option value="Бескарагай">Бескарагай</option>
                                <option value="Бородулиха">Бородулиха</option>
                                <option value="Жармин">Жармин</option>
                                <option value="Кокпекти">Кокпекти</option>
                                <option value="Урджар">Урджар</option>
                                <option value="Курчатов">Курчатов</option>
                                <option value="Абай">Абай</option>
                            </select>
                          <%}%>
                          <%if(login==="semey"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Семей">Семей</option>
                            </select>
                           <%}%>
                           <%if(login==="kurchatov"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Курчатов">Курчатов</option>
                            </select>
                           <%}%>
                           <%if(login==="abai"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Абай">Абай</option>
                            </select>
                           <%}%>
                           <%if(login==="aksuat"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Аксуат">Аксуат</option>
                            </select>
                           <%}%>
                           <%if(login==="ayagoz"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Аягоз">Аягоз</option>
                            </select>
                           <%}%>
                           <%if(login==="borodulikha"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Бородулиха">Бородулиха</option>
                            </select>
                           <%}%>
                           <%if(login==="beskaragai"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Бескарагай">Бескарагай</option>
                            </select>
                           <%}%>
                           <%if(login==="kokpekti"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Кокпекти">Кокпекти</option>
                            </select>
                           <%}%>
                           <%if(login==="zharma"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Жармин">Жармин</option>
                            </select>
                           <%}%>
                           <%if(login==="urzhar"){%>
                            <select class="form-control" id="region" name="region" required>
                                <option value="Урджар">Урджар</option>
                            </select>
                           <%}%>
                        
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label" data-i18n="email__link">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label" data-i18n="phone__number__link">Phone Number</label>
                        <input type="text" class="form-control" id="phone" name="phone" inputmode="numeric" pattern="^(?=.*[0-9])\d{11}$" required>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label" data-i18n="status__link">Status</label>
                        <select class="form-control" id="status" name="status" required>
                            <option value="Есть работа">Есть работа</option>
                            <option value="Безработный">Безработный</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="clouse__link">Close</button>
                    <button type="submit" class="btn btn-primary" data-i18n="save__link">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>